&.right {
    flex-shrink: 0;
    position: sticky;
    top: $_64;
    display: flex;
    flex-flow: column;
    gap: $_24;
    padding: $_48 $_16;
    width: 100%;
    max-width: $_640;

    @media screen and (min-width: $_800) {
        padding: $_24 $_16 $_48 0;
        max-width: $_320;

        >header {
            margin-bottom: 0;
            max-height: calc(11rem + 4.5rem + $_8);
            // max-height: 11rem;
            opacity: 1;
        }
    }

    >section.search {
        display: none;
        align-items: center;
        padding: 0 $_8;
        border: 1px solid $border1;

        @media screen and (min-width: 800px) {
            display: flex;
        }

        >label {
            display: flex;
            flex-grow: 1;

            >input {
                flex-grow: 1;
                padding-right: $_8;
                line-height: $_40;
            }
        }

        >i {
            color: $border2;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                color: $text5;
            }
        }
    }

    >section.post {
        display: flex;
        flex-flow: column;
        align-items: center;

        &.desktop {
            display: none;

            @media screen and (min-width: 800px) {
                display: flex;
            }
        }

        >strong {
            width: 100%;
            font-weight: 500;
            color: $text9;
        }

        >a {
            display: flex;
            flex-flow: column;
            gap: $_4;
            padding: $_8 $_4;
            width: 100%;
            border-bottom: 1px solid $border1;
            transition: 0.3s;

            &:nth-child(2) {
                margin-top: $_8;
            }

            &:hover {
                background-color: $border1;
            }

            >strong {
                font-size: $_14;
                font-weight: 400;
                color: $text9;
            }

            >p {
                font-size: $_12;
                color: $text4;

                >i,
                >time {
                    color: inherit
                }
            }
        }

        >button {
            margin-top: $_16;
            padding: 0 $_16;
            line-height: $_32;
            font-size: $_12;
            background-color: $border1;
            transition: 0.3s;

            &:hover {
                background-color: $border2;
            }
        }
    }

    >section.topic {
        display: flex;
        flex-flow: row wrap;
        gap: $_8;

        >strong {
            width: 100%;
            font-weight: 500;
            color: $text9;
        }

        >a {
            padding: $_4;
            font-size: $_14;
            transition: 0.3s;

            &:hover {
                background-color: $border1;
            }
        }
    }

    >section.tag {
        display: flex;
        flex-flow: row wrap;
        gap: 0.5rem;

        >strong {
            width: 100%;
            font-weight: 500;
            color: $text9;
        }

        >a {
            padding: $_4 $_8;
            font-size: $_12;
            transition: 0.3s;
            background-color: $border1;

            &::before {
                content: "#";
            }

            &:hover {
                background-color: $border2;
            }
        }
    }
}